# We don't want lockfiles in stacks, as people could use a different package manager
# This part will be removed by `remix.init`
package-lock.json
yarn.lock
pnpm-lock.yaml
pnpm-lock.yml

node_modules

/build
/public/build
.env

/cypress/screenshots
/cypress/videos
/prisma/data.db
/prisma/data.db-journal

/app/styles/tailwind.css
